.lil{
  color: rgba(129, 3, 248, 0.395);
  font-size: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lorem{
  color: rgb(5, 30, 55);
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 476px){
  .lil{
    color: rgb(243, 141, 8);
  }
}